body {
  padding: 50px;
}

#responseTable{
  display: none;
}

#serverResponse{
  color: red;
}

table {
  table-layout: fixed;
  width: 100%
}

table td {
  word-wrap: break-word;       
  overflow-wrap: break-word;     
}